.login-component-wrapper {
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: white;
}

.login-component-body {
    text-align: center;
    align-self: center;
    height: 40%;
    width: 50%;
    box-shadow: 0 0 10px 10px gray;
    align-items: center;
    display: flex;
    flex-direction: colomn;
    justify-content: center;
}

.login-logo {
    display: block;
    text-align: center;
}
